<form>
    <div class="form-group">
        <label for="youtube-name">Name</label>
        <input ng-model="model.widget.name"
               type="text" class="form-control" id="youtube-name" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="youtube-text">Text</label>
        <input ng-model="model.widget.text"
               type="text" class="form-control" id="youtube-text" placeholder="Text">
    </div>
    <div class="form-group">
        <label for="youtube-URL">URL</label>
        <input ng-model="model.widget.url"
               type="text" class="form-control" id="youtube-URL" placeholder="URL">
    </div>
    <div class="form-group">
        <label for="youtube-width">Width</label>
        <input ng-model="model.widget.width"
               type="text" class="form-control" id="youtube-width" placeholder="100%">
    </div>
</form>
<a class="btn btn-danger btn-block" ng-click="model.deleteWidget()">Delete</a>

