<div>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Trails Fun</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-if="!model.currentUser">
                        <a href="#!/login">Login</a>
                    </li>
                    <li ng-if="!model.currentUser">
                        <a href="#!/register">Sign up</a>
                    </li>
                    <li ng-if="model.currentUser">
                        <a href="#!/profile">My Profile</a>
                    </li>
                    <li ng-if="model.currentUser.roles.indexOf('ADMIN') > -1">
                        <a href="#!/admin">Admin</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-fluid-height">
        <img class="img-responsive img-center" alt="">
    </header>

    <!-- Content Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="section-heading">Welcome to Trails Fun</h3>
                    <p class="lead section-lead">Let's explore the amazing hiking trails together.</p>
                </div>
            </div>

            <div class="col-md-6">
                <h4>Search by city:</h4>
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control input-lg" placeholder="City name"
                        ng-model="city"/>
                        <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"
                               ng-click="model.searchTrail(city)"></i>
                        </button>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h5>Name: Chang Liu</h5>
                    <h5>Email: liu.chang1@husky.neu.edu</h5>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </footer>

    <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>
</div>
