<div>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Trails Fun</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#!/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">
        <div class="omb_login">

            <div class="col-md-8 col-md-offset-2">
                <form role="form">
                    <h3 class="omb_authTitle">Register</h3>
                    <fieldset>
                        <legend>Account Details</legend>

                        <div class="form-group col-md-6">
                            <label for="username">Username</label>
                            <input type="text"
                                   class="form-control"
                                   id="username"
                                   placeholder="Userame"
                                   ng-model="username">
                        </div>


                        <div class="form-group col-md-6">
                            <label for="password">Password</label>
                            <input type="password"
                                   class="form-control"
                                   id="password"
                                   placeholder="Password"
                                   ng-model="password">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="confirm_password">Confirm Password</label>
                            <input type="password"
                                   class="form-control"
                                   id="confirm_password"
                                   placeholder="Confirm Password"
                                   ng-model="vpassword">
                        </div>

                        <div class="form-group col-md-12">
                            <label for="email">Email</label>
                            <input type="email"
                                   class="form-control"
                                   id="email"
                                   placeholder="Email"
                                   ng-model="email">
                        </div>

                    </fieldset>

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                           ng-model="accept">
                                    I accept the terms and conditions.
                                </label>
                            </div>
                        </div>
                    </div>

                    <div ng-show="model.error" class="help-block">{{model.error}}</div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <a class="btn btn-primary"
                               ng-click="model.register(username, password, vpassword, email, accept)">
                                Register
                            </a>
                            <a href="#!/login">Already have an account?</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>