<div>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Trails Fun</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Login</a>
                    </li>
                    <li>
                        <a href="#">Sign up</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <div class="container">
        <h1>Search for Subject, Keyword, Help or Ideas...</h1>
        <hr>

        <h2>Most Popular<p class="lead">Subject | A-Z List</p></h2>

        <p>MISSION: The State College of Florida Libraries' Subject Guides and Tutorials are customized by SCF Librarians to support students with courses, assignments, skills and information literacy. Write to suggest a guide or have one created for a course. </p>

        <div class="row text-center portfolio">

            <div class="col-lg-2 col-sm-3 col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="#">
                            <img src="https://s3.amazonaws.com/libapps/accounts/390/images/BeFunky_sub1.jpg.jpg" class="img-thumbnail img-responsive">
                        </a>
                    </div>
                    <div class="panel-footer">
                        Find, evaluate and use scholarly and peer reviewed articles.
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="#">
                            <img src="https://s3.amazonaws.com/libapps/accounts/390/images/BeFunky_sub2.jpg.jpg" class="img-thumbnail img-responsive">
                        </a>
                    </div>
                    <div class="panel-footer">
                        Find support for literature, poetry and short story research.
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="#">
                            <img src="https://s3.amazonaws.com/libapps/accounts/390/images/BeFunky_sub3.jpg.jpg" class="img-thumbnail img-responsive">
                        </a>
                    </div>
                    <div class="panel-footer">
                        Research and APA citation help for NUR.
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="#">
                            <img src="https://s3.amazonaws.com/libapps/accounts/390/images/BeFunky_sub4.jpg.jpg" class="img-thumbnail img-responsive">
                        </a>
                    </div>
                    <div class="panel-footer">
                        Resources for argumentative and persuasive speech essays and speeches. ENC 1101, SPS 1608
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>

    </div>
</div>