<div>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Trails Fun</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-if="!model.currentUser">
                        <a href="#!/login">Login</a>
                    </li>
                    <li ng-if="!model.currentUser">
                        <a href="#!/register">Sign up</a>
                    </li>
                    <li ng-if="model.currentUser">
                        <a href="#!/profile">My profile</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">
        <div class="jumbotron jumbotron-sm" style="background-color:#339966;margin-top:2%;color:white;height: 15px">
                <div class="col-sm-12 col-lg-12">
                    <h2 style="margin-top:-3%">
                        {{model.trail.name}}
                    </h2>
                </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="well" class="col-sm-6 col-xs-12">
                    <div ng-show="model.trail.image"> <img src="{{model.trail.image}}" class="col-sm-12 col-xs-12" style="padding-bottom:5%;"> </div>
                    <!--<h4>Description:</h4>-->
                    <!--<p>{{model.trail.description}}</p>-->
                    <!--<h5>Length: {{model.trail.length}} miles</h5>-->
                    <!--<h6>City: {{model.trail.city}}</h6>-->
                    <!--<h6>State: {{model.trail.state}}</h6>-->
                    <!--<button class="glyphicon glyphicon-thumbs-up"></button>-->
                    <div>
                        <h4>Description:</h4>
                        <p>{{model.trail.description}}</p>
                        <br style="height: 1px"/>
                        <h5>Trail Length: {{model.trail.length}} miles</h5>
                        <h6>City: {{model.trail.city}}</h6>
                        <h6>State: {{model.trail.state}}</h6>
                        <h5 style="margin-top:5%;">
                            <a href="{{model.trail.url}}">Website Link Click Here</a>
                        </h5>
                        <button class="glyphicon glyphicon-thumbs-up button-lg" style="height:25px;color:#CC3819"></button>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <iframe width="90%" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src={{model.mapurl}}></iframe>
            </div>
        </div>
    </div>
    <div class="container" ng-if="model.currentUser">
        <div class="row">
            <div class="form-group">
                <h4 class="col-sm-4">Write a review:</h4>
                <div class="col-sm-12">
                    <textarea class="form-control" rows="5" ng-model="context"></textarea>
                </div>
                <div class="pull-right" style="margin-right:2%; margin-top:1px">
                    <button class="btn btn-success btn-circle text-uppercase"
                            ng-click="model.createReview(context)"><span class="glyphicon glyphicon-send" class="col-sm-4"></span> Summit review</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-bottom: 5%">
        <div class="page-header">
            <h3><small class="pull-right">{{model.reviewslength}} reviews</small> Review list </h3>
        </div>
        <div class="comments-list">
            <div class="media" ng-repeat="review in model.reviews">
                <div class="media-body">
                    <div class="col-xs-10">
                        <h4 class="media-heading user_name">{{review.userName}}:</h4>
                        <p style="margin-left: 3%"> "{{review.context}}"</p>
                    </div>
                    <div class="col-xs-2">
                        <button ng-if="model.currentUser" class="btn btn-danger btn-xs glyphicon glyphicon-trash pull-right"
                                ng-click="model.deleteReview(review)">
                        </button>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <!--<div class="container">-->
                    <!--<div class="page-header">-->
                        <!--<h3><small class="pull-right">{{model.reviewslength}} comments</small> Comment list </h3>-->
                    <!--</div>-->
                    <!--<div class="comments-list" ng-repeat="review in model.reviews">-->
                        <!--<div class="media">-->
                            <!--&lt;!&ndash;<p class="pull-right"><small>5 days ago</small></p>&ndash;&gt;-->
                            <!--<div class="media-body">-->

                                <!--<h5 class="media-heading user_name">{{review.userName}}: </h5>-->
                                <!--<p>  {{review.context}}</p>-->

                                <!--&lt;!&ndash;<p><small><a href="">Like</a> - <a href="">Share</a></small></p>&ndash;&gt;-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
    <!--</div>-->

</div>